volumes:
  valkey-data:

services:
  master-worker:
    container_name: master-worker
    build:
      context: .
      dockerfile: deployments/docker/master-worker.Dockerfile
      args:
        VERSION: "${VERSION}"
    restart: always
    volumes:
      - ./deployments/.kubectl.config.yaml:/k8s/config:ro
    network_mode: "host"
    environment:
      HATCHET_CLIENT_TOKEN: "${HATCHET_CLIENT_TOKEN}"
      HATCHET_CLIENT_TLS_STRATEGY: "none"
      K8S_CONFIG_PATH: "/k8s/config"
      VALKEY_URL: "redis://default:developer@localhost:6379"
