volumes:
  valkey-data:

services:
  valkey:
    container_name: valkey
    image: valkey/valkey
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 2s
      timeout: 5s
      retries: 5
    environment:
      VALKEY_EXTRA_FLAGS: --requirepass developer --save 60 1 --loglevel warning
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - valkey-data:/data