(stroppy_forward_proxy) {
	@forward_proxy expression `{http.request.orig_uri}.startsWith("http://") || {http.request.orig_uri}.startsWith("https://")`

	handle @forward_proxy {
		reverse_proxy {$CADDY_UPSTREAM:127.0.0.1:8080} {
			header_up X-Stroppy-Forward-Proxy 1
			header_up Host {http.request.host}
		}
	}
}

(stroppy_gateway) {
	import stroppy_forward_proxy

	@grpc protocol grpc

	handle @grpc {
		reverse_proxy h2c://{$CADDY_UPSTREAM:127.0.0.1:8080}
	}

	handle /grafana/* {
		reverse_proxy {$CADDY_GRAFANA_UPSTREAM:127.0.0.1:3001}
	}

	handle {
		reverse_proxy {$CADDY_UPSTREAM:127.0.0.1:8080}
	}
}

{$CADDY_SITE_ADDRESS:http://localhost, http://caddy} {
	import stroppy_gateway
}

https:// {
	import stroppy_forward_proxy
}
